{% extends "base.html.twig" %}
{% block title %}
    Mentions legales
{% endblock %}
{% block body %}
    <div class="row text-center">
        <h1>
           Mentions legales
        </h1>
    </div>
    <div class="row">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum aliquam tempora officia ut tempore ipsa, illo rem accusantium asperiores dolores nihil cum voluptatibus et perspiciatis architecto in quidem cupiditate minus.
            Atque dolorum natus animi sapiente veritatis quibusdam, sequi, vel amet autem perspiciatis illo praesentium recusandae neque, ab aspernatur! Ipsum molestiae facere aspernatur sed deserunt laborum! Accusamus nisi commodi consequuntur voluptatem.
            Numquam reprehenderit eaque ut repellendus quidem, rem illum sed. Vero culpa dolor cupiditate distinctio, sequi delectus, aspernatur expedita reprehenderit a ex eius totam quis molestias, quod laborum doloribus quisquam minima?
            Autem ad expedita assumenda fuga optio, consequatur tempore voluptas numquam excepturi cupiditate recusandae unde minima eius veritatis vel similique eum eveniet exercitationem architecto cumque deleniti modi! Odio, totam quae. Mollitia.
            Fuga quis quas minima ea veritatis commodi natus libero non, dolorum rem similique in molestiae nihil, voluptates at impedit, minus molestias magnam ullam maxime quo maiores qui vitae. Illum, necessitatibus.
        </p>
    </div>
{% endblock %}