{% set menu = 
  
  [{
    "label":"Accueil",
    "name":"app_main_home"
  },
  {
    "label":"A propos",
    "name":"app_main_aboutus"
  }
  ,{
    "label":"Ajouter un défi",
    "name":"app_challenge_add"
  },
  {
    "label":"Liste défis",
    "name":"app_challenge_list"
  }
  ] 

%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {% block title %}Challenger{% endblock %}
    </title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Chalenger</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      {% for item in menu %}                        
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ path(item.name) }}">{{ item.label }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <main style="min-height: 80vh;">
          {% block body %}{% endblock %}
        </main>
        <footer class="row text-center">
            <p> Challenger &copy; {{ "now"|date("Y") }} </p>
            <p> <a href="#">Mentions legales</a> </p>
        </footer>
    </div>
</body>
</html>